<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Générateur de Logos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <style>
        .cat {
            margin-left: 3px;
            border: 1px solid black;
        }
        .table{
            padding: 0px;
        }
        .btn-image {
            border-radius: 0;
            border: 0px;
            padding: 0px;
        }
    </style>
</head>

<body class="container" style="text-align: center; font-family:sans-serif;">
    <h1 class="display-4" style="padding: 10px;">Générateur de Logos</h1>
    <form method="POST" class="row">
        <div class="col-xl">
            <div class="card">
                <div class="card-header">Changer le Motif</div>
                <div class="card-body">
                    <button class="btn btn-primary" name="motif" value="rand">Aléatoire</button>
                    <button class="btn btn-primary" name="motif" value="autre">Variante</button>
                    <hr>
                    <table class="table table-borderless table-responsive card-body">
                        <tbody>
                            {% for i in range(2)%}
                            <tr>
                                {% for j in range(2)%}
                                <td><button class="btn btn-image" name="motif" value={{i*2+j}}><img
                                            src="static/image/logo/motif/i{{i*2+j}}.jpg"></button></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>
        <div class="col-xl">
            <div class="card">
                <div class="card-header">Changer la Couleur</div>
                <div class="card-body">
                    <button class="btn btn-primary" name="couleur" value="rand">Aléatoire</button>
                    <button class="btn btn-primary" name="couleur" value="autre">Variante</button>
                    <hr>
                    <table class="table table-borderless table-responsive card-body">
                        <tbody>
                            {% for i in range(2)%}
                            <tr>
                                {% for j in range(2)%}
                                <td><button class="btn btn-image" name="couleur" value={{i*2+j}}><img
                                            src="static/image/logo/couleur/i{{i*2+j}}.jpg"></button></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>

        <div class="col-xl">
            <div class="card ">
                <div class="card-header">Logo Généré:</div>
                <div class="card-body">
                    <div class="image_container">
                        <img src="static/image/image.jpg">
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">Catégorie:</div>
                <div class="card-body row">
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 name="label" value=0
                            {% if val["label"]== 0 or val["label"]=='0' %}checked{% endif %}><label><img class="cat"
                                src="static/image/icon/cat-0.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 name="label" value=1
                            {% if val["label"]=='1' %}checked{% endif %}><label><img class="cat"
                                src="static/image/icon/cat-1.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 name="label" value=2
                            {% if val["label"]=='2' %}checked{% endif %}><label><img class="cat"
                                src="static/image/icon/cat-2.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 name="label" value=3
                            {% if val["label"]=='3' %}checked{% endif %}><label><img class="cat"
                                src="static/image/icon/cat-3.jpg"></label>
                    </div>

                </div>
                <div class="card-header">Bruit:</div>
                <div class="card-body">
                    <output id={{"Nvalue"~n}} for={{"noise"~n}}>{{val["noise"~n]}}</output>
                    <br>
                    <input min="0" max="1" step="0.1" id={{"noise"~n}} name={{"noise"~n}} type="range"
                        value={{val["noise"~n]}} oninput="{{"Nvalue"~n}}.value={{"noise"~n}}.value">
                </div>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Générer" />

        </div>
    </form>
    <br>
</body>

</html>