<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Générateur de Logos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <style>
        button {
            margin: 5px 15px 5px 15px;
        }
        .slider_container {
            display: none;
        }
        .cat{
            margin-left: 3px;
            border: 1px solid black;
        }
    </style>
    <script>
        function hide(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function random_normal() {
            var u = 0, v = 0;
            while (u === 0) u = Math.random();
            while (v === 0) v = Math.random();
            return Math.sqrt(-2.0 * Math.log(u)) * Math.cos(2.0 * Math.PI * v);
        }
        function randomise(slider, value, normal) {
            for (var i = 0; i < {{ nSliders }}; i++) {
            if (normal) {
                var val = Math.round(random_normal() * 10) / 10;
            }
            else {
                var val = Math.round((Math.random() * 4 - 2) * 10) / 10;
            }
            document.getElementById(slider + i).value = val;
            document.getElementById(value + i).value = val;
        }
    }
        function to_zero(slider, value) {
            for (var i = 0; i < {{ nSliders }}; i++) {
            document.getElementById(slider + i).value = 0;
            document.getElementById(value + i).value = 0;
        }
    }
    </script>
</head>

<body class="container" style="text-align: center; font-family:sans-serif;">
    <h1 class="display-4" style="padding: 10px;">Générateur de Logos</h1>
    <form method="POST" class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Motif:</div>
                <button class="btn btn-primary" onclick="randomise('slider','value',true)">Aléatoire</button>
                <button class="btn btn-info" onclick="to_zero('slider','value')">Réinitialiser</button>
                <button type="button" class="btn btn-secondary dropdown-toggle"
                    onclick="hide('motif-params')">Paramètres</button>
                <div class="slider_container card-body" id="motif-params"
                    style="height: 450px;overflow: auto;//background-color:#444">
                    {% for n in range(nSliders)%}
                    <output id={{"value"~n}} for={{"slider"~n}}>{{val["slider"~n]}}</output>
                    <br>
                    <input min="-1.5" max="1.5" step="0.1" id={{"slider"~n}} name={{"slider"~n}} type="range"
                        value={{val["slider"~n]}} oninput="{{"value"~n}}.value={{"slider"~n}}.value"><br>
                    {% endfor %}
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4">
            <div class="card ">
                <div class="card-header">Couleurs:</div>
                <button class="btn btn-primary" onclick="randomise('style','Svalue',true)">Aléatoire</button>
                <button class="btn btn-info" onclick="to_zero('style','Svalue')">Réinitialiser</button>
                <button type="button" class="btn btn-secondary dropdown-toggle"
                    onclick="hide('couleur-params')">Paramètres</button>
                <div class="slider_container card-body" id="couleur-params"
                    style="height: 450px;overflow: auto;//background-color:#444">
                    {% for n in range(nSliders)%}
                    <output id={{"Svalue"~n}} for={{"style"~n}}>{{val["style"~n]}}</output>
                    <br>
                    <input min="-1.5" max="1.5" step="0.1" id={{"style"~n}} name={{"style"~n}} type="range"
                        value={{val["style"~n]}} oninput="{{"Svalue"~n}}.value={{"style"~n}}.value"><br>
                    {% endfor %}
                </div>
            </div>
            <br>
        </div>
 
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header">Logo Généré:</div>
                <div class="card-body">
                    <div class="image_container">
                        <img src="static/image.jpg">
                    </div>
                </div>
            </div>
            <br>
            <div class="card ">
                <div class="card-header">Catégorie:</div>
                <div class="card-body row">
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 id="cercle" name="label" value=0
                            {% if val["label"]== 0 or val["label"]=='0' %}checked{% endif %}><label><img class="cat" src="static/image/cat-0.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 id="gcarre" name="label" value=1
                            {% if val["label"]=='1' %}checked{% endif %}><label><img class="cat" src="static/image/cat-1.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 id="pcarre" name="label" value=2
                            {% if val["label"]=='2' %}checked{% endif %}><label><img class="cat" src="static/image/cat-2.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 id="fond" name="label" value=3
                            {% if val["label"]=='3' %}checked{% endif %}><label><img class="cat" src="static/image/cat-3.jpg"></label>
                    </div>

                </div>
                <div class="card-header">Bruit:</div>
                <div class="card-body">
                    <output id={{"Nvalue"~n}} for={{"noise"~n}}>{{val["noise"~n]}}</output>
                    <br>
                    <input min="0" max="1" step="0.1" id={{"noise"~n}} name={{"noise"~n}} type="range"
                        value={{val["noise"~n]}} oninput="{{"Nvalue"~n}}.value={{"noise"~n}}.value">
                </div>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Générer" />
            
        </div>
    </form>
    <br>
</body>

</html>