<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Logo Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <style>
        .cat {
            margin-left: 3px;
            border: 1px solid black;
        }

        .card-body {
            padding: 1rem;
        }

        .table {
            padding: 0px;
        }

        .btn-image {
            border-radius: 0;
            border: 0px;
            padding: 0px;
        }

        .btn-left {
            margin: 0 10px 0 20px;
        }

        .btn-right {
            margin: 0 20px 0 10px;
        }
    </style>
</head>

<body class="container" style="text-align: center; font-family:sans-serif;">
    <h1 style="padding: 10px;">Logo Generator</h1>
    <form method="POST" class="row">
        <div class="col-lg">
            <div class="card">
                <div class="card-header">Change Pattern:</div>
                <div class="card-body">
                    <div class="row">
                        <button class="btn btn-primary btn-sm col btn-left" name="pattern" value="rand">Random</button>
                        <button class="btn btn-primary btn-sm col btn-right" name="pattern" value="autre">Small
                            changes</button>
                    </div>
                    <hr>
                    {% for i in range(2)%}
                    <div class="row">
                        {% for j in range(2)%}
                        <div class="col-6"><button class="btn btn-image" name="pattern" value={{i*2+j}}><img
                                    src="static/image/logo/pattern/i{{i*2+j}}.jpg"></button></div>
                        {% endfor %}
                    </div>
                    {% if i==0 %}<br>{% endif %}
                    {% endfor %}
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg">
            <div class="card">
                <div class="card-header">Change Color:</div>
                <div class="card-body">
                    <div class="row">
                        <button class="btn btn-primary btn-sm col btn-left" name="color" value="rand">Random</button>
                        <button class="btn btn-primary btn-sm col btn-right" name="color" value="autre">Small
                            changes</button>
                    </div>
                    <hr>
                    {% for i in range(2)%}
                    <div class="row">
                        {% for j in range(2)%}
                        <div class="col-6"><button class="btn btn-image" name="color" value={{i*2+j}}><img
                                    src="static/image/logo/color/i{{i*2+j}}.jpg"></button></div>
                        {% endfor %}
                    </div>
                    {% if i==0 %}<br>{% endif %}
                    {% endfor %}
                </div>
            </div>
            <br>
        </div>

        <div class="col-lg">
            <div class="card ">
                <div class="card-header">Generated Logo:</div>
                <div class="card-body">
                    <div class="image_container">
                        <img src="static/image/image.jpg">
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">Category:</div>
                <div class="card-body row">
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 name="label" value=0
                            {% if val["label"]== 0 or val["label"]=='0' %}checked{% endif %}><label><img class="cat"
                                src="static/image/icon/cat-0.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 name="label" value=1
                            {% if val["label"]=='1' %}checked{% endif %}><label><img class="cat"
                                src="static/image/icon/cat-1.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 name="label" value=2
                            {% if val["label"]=='2' %}checked{% endif %}><label><img class="cat"
                                src="static/image/icon/cat-2.jpg"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="radio" min=0 max=3 name="label" value=3
                            {% if val["label"]=='3' %}checked{% endif %}><label><img class="cat"
                                src="static/image/icon/cat-3.jpg"></label>
                    </div>

                </div>
                <div class="card-header">Noise:</div>
                <div class="card-body">
                    <output id={{"Nvalue"~n}} for={{"noise"~n}}>{{val["noise"~n]}}</output>
                    <br>
                    <input min="0" max="1" step="0.1" id={{"noise"~n}} name={{"noise"~n}} type="range"
                        value={{val["noise"~n]}} oninput="{{"Nvalue"~n}}.value={{"noise"~n}}.value">

                </div>
                <input class="btn btn-primary btn-sm" type="submit" value="Generate" />
            </div>


        </div>
    </form>
    <br>
</body>

</html>